In [27]:
import pandas as pd

In [28]:
dados = pd.read_csv("roraima_2014.csv",encoding='latin1',sep=';')

In [29]:
dados.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'NR_TURNO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO',
       'TP_ABRANGENCIA', 'SG_UF', 'SG_UE', 'NM_UE', 'CD_MUNICIPIO',
       'NM_MUNICIPIO', 'NR_ZONA', 'CD_CARGO', 'DS_CARGO', 'SQ_CANDIDATO',
       'NR_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO',
       'NM_SOCIAL_CANDIDATO', 'CD_SITUACAO_CANDIDATURA',
       'DS_SITUACAO_CANDIDATURA', 'CD_DETALHE_SITUACAO_CAND',
       'DS_DETALHE_SITUACAO_CAND', 'TP_AGREMIACAO', 'NR_PARTIDO', 'SG_PARTIDO',
       'NM_PARTIDO', 'SQ_COLIGACAO', 'NM_COLIGACAO', 'DS_COMPOSICAO_COLIGACAO',
       'CD_SIT_TOT_TURNO', 'DS_SIT_TOT_TURNO', 'ST_VOTO_EM_TRANSITO',
       'QT_VOTOS_NOMINAIS'],
      dtype='object')

In [32]:
recorte = dados[['DS_SIT_TOT_TURNO','QT_VOTOS_NOMINAIS','DS_CARGO']]
recorte

     DS_SIT_TOT_TURNO  QT_VOTOS_NOMINAIS           DS_CARGO
0            SUPLENTE                 37  Deputado Estadual
1            SUPLENTE                  2  Deputado Estadual
2            SUPLENTE                  0  Deputado Estadual
3            SUPLENTE                 20  Deputado Estadual
4            SUPLENTE                  0  Deputado Estadual
...               ...                ...                ...
7755         SUPLENTE                 52  Deputado Estadual
7756         SUPLENTE                 22  Deputado Estadual
7757         SUPLENTE                  0  Deputado Estadual
7758    ELEITO POR QP                 21  Deputado Estadual
7759         SUPLENTE                  0  Deputado Estadual

[7760 rows x 3 columns]

In [43]:
recorte.groupby('QT_VOTOS_NOMINAIS')